.banner{
	/*position: fixed;*/
	width: 100%;
	height: 65px;
	background-color: #000000;
}
#logo{
	max-width: 200px;
	max-height: 200px;
}
.reg{
	position: absolute;
	top: 25px;
	margin-left: 80%;
}
#signup{
	background-image: url(../graphics_index/signup.png);
	width: 85px;
	height: 40px;
	border-radius: 5px;	
}
#login{
	background-image: url(../graphics_index/login.png);
	width: 80px;
	height: 40px;
	border-radius: 5px;
}
.search_barPos{
	position: absolute;
	top: 25px;
	left: 400px;
}
#src_bar{
	height: 2em;
	width: 300px;
}
#query{
	background-image: url(../graphics_index/query.png);
	width: 35px;
	height: 30px;
	border-radius: 5px;
}
.topRatePos{
	position: absolute;
	top: 250px;
}
#topRateTitle{
	color: #555555;
	left: 150px;
	top: 225px;
}
#topRatePosL{left: 50px;}
#topRatePosR{left: 950px;}
.foot_links{
	position: absolute;
	margin-top: 55%;
	left: 950px;
}
a:link{
	text-decoration: none;
	color: #000000;
}
